:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #4707a9;

  --status-alive: #00ba47;
  --status-dead: #cf0303;
  --status-unknown: #888888;

  --background-color: #fafafa;
  --card-background: #ffffff;
  --card-label: #999999;
  --border: #d8d8d8;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background-color: var(--background-color);
}

.mb-20 {
  margin-bottom: 20px;
}
